{% extends "task_manager/layout.html" %}

{% load i18n %}

{% block content %}
  {% load bootstrap4 %}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <style>
    .content-form-signin {
      text-align: center!important;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
     }
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>

  <div class="content-form-signin">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">{% trans 'Please sign in' %}</h1>

      {% bootstrap_form_errors form %}

      {% bootstrap_label form.username.errors %}
      {% bootstrap_label _("Email address") label_for=form.username.id_for_label %}
      {% bootstrap_field form.username placeholder=_("Email address") show_label=False%}

      {% bootstrap_label form.password.errors %}
      {% bootstrap_label _("Password") label_for=form.password.id_for_label %}
      {% bootstrap_field form.password placeholder=_("Password") show_label=False%}

      {% bootstrap_button _("Sign in") button_type="submit" button_class="btn btn-lg btn-primary btn-block" %}

      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </div>
{% endblock %}