{% extends "task_manager/layout.html" %}

{% load i18n %}

{% block content %}
  {% load bootstrap4 %}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{% trans 'DeleteUserTitle' %}</h1>
        <p>{% trans 'DeleteUserQuestion' %} {{ object }}?</p>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_button _("DeleteUserBtn") button_type="submit" button_class="btn btn-danger" %}
        </form>
    </div>
{% endblock %}